.container {
    height: 300px;
    width: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 20px;

}

.container select {
    margin-top: 10px;
    padding: 15px 10px;
    width: 60%; 
    font-size: 20px;
}

.container select option {
    padding: 20px 10px;
    width: 80%;

}
.dropdown{
    margin-top: 40px;
}
.dropdown p{
    font-weight: 700;
}